In [1]:
l=[1,2,3,4,5]

In [2]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [3]:
l1=["sudh",'kumar','krish','naik']

In [4]:
for i in l1:
    print(i)

sudh
kumar
krish
naik

In [5]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [6]:
for i in l1:
    print(i)
else:
    print("if for loop is able to complete itself then only else wikk execute")

sudh
kumar
krish
naik
if for loop is able to complete itself then only else wikk execute

In [7]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [8]:
for i in l1:
    if i=="kumar":
        break
    print(i)

sudh

In [9]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [10]:
for i in l1:
    if i=="kumar":
        break
    print(i)
else:
    print("execute this if for loop is able to complete itself")

sudh

In [11]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [12]:
for i in l1:
    if i=="kumar":
        continue
    print(i)

sudh
krish
naik

In [13]:
for i in l1:
    if i=="kumar":
        continue
    print(i)
else:
    print("execute this if for loop is able to complete itself")

sudh
krish
naik
execute this if for loop is able to complete itself

In [14]:
range(5)

range(0, 5)

In [15]:
list(range(5))

[0, 1, 2, 3, 4]

In [16]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [17]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [19]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [20]:
len(l1)

4

In [21]:
list(range(len(l1)))

[0, 1, 2, 3]

In [22]:
for i in range(len(l1)):
    print(l1[i])

sudh
kumar
krish
naik

In [23]:
len(l1)

4

In [24]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [25]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
krish
kumar
sudh

In [26]:
for i in [3,2,1,0]:
    print(l1[i])

naik
krish
kumar
sudh

In [27]:
l2= [23,5,45,56,6,67,78,87,8998,9,9,8]

In [29]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10]

In [32]:
for i in range(0,len(l2),2):
    print(l2[i])

23
45
6
78
8998
9

In [33]:
l=[1,2,3,4,7,8,98]

In [34]:
sum(l)

123

In [37]:
result=0
for i in l:
    result = result+i
result

123

In [38]:
t={1,2,3,4,5}

In [39]:
for i in t:
    print(i)

1
2
3
4
5

In [40]:
result=0
for i in t:
    result = result+i
result

15

In [41]:
s= {1,2,3,4,5,"sudh","pwskills"}

In [42]:
for i in s:
    print(i)

1
2
3
4
5
sudh
pwskills

In [43]:
s1= "pwskills"

In [44]:
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [45]:
d={"name":"sudh","class":"data science masters","topic":["python","stats","machine learning","DL","CV","NLP","resume","interview"]}

In [46]:
d

{'name': 'sudh',
 'class': 'data science masters',
 'topic': ['python',
  'stats',
  'machine learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']}

In [47]:
d['name']

'sudh'

In [48]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [51]:
for i in d.keys():
    print(d[i])

sudh
data science masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [52]:
for i in d.values():
    print(i)

sudh
data science masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [53]:
d.items()

dict_items([('name', 'sudh'), ('class', 'data science masters'), ('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])])

In [54]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'data science masters')
('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])